@page
@model soft20181_starter.Pages.Manage.ChangeRoleModel
@{
    ViewData["Title"] = "Assign a Role to User - " + Model.TheUser.Email;
}

<div class="contact-form">
    <h2>Assign User to a Different Role</h2>
    <div>
        <form method="post" class="row g-2">

            <div class="form-element col-md-12">
                <input asp-for="@Model.TheUser.Email" type="text" value="@Model.TheUser.Email" readonly />
                <span asp-validation-for="@Model.TheUser.Email"></span>
            </div>

            <div class="form-element col-md-12">
                <label class="form-label">Current Role </label>
                <input asp-for="@Model.TheUser.roleName" type="text" value="@Model.TheUser.roleName" readonly />
                <span asp-validation-for="@Model.TheUser.Email"></span>
            </div>

            <select asp-for="@Model.NewRole" class="form-select" aria-label="Choose a role">
                <option selected>Choose a role</option>
                @foreach (var role in Model.Roles)
                {
                    <option value="@role">@role</option>
                }
            </select>

            <button type="submit">Submit</button>
        </form>
    </div>
</div>