@page
@model soft20181_starter.Pages.Manage.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password for User - " + Model.TheUser.Email;
}

<div class="contact-form">
    <h2>Change Password</h2>
    <div>
        <form method="post" class="row g-2">

            <div class="form-element col-md-12">
                <input asp-for="@Model.TheUser.Email" type="text" value="@Model.TheUser.Email" read/>
                <span asp-validation-for="@Model.TheUser.Email"></span>
            </div>

@*             <div class="form-element col-md-12">
                <input asp-for="@Model.OldPassword" type="password" placeholder="Old Password" />
                <span asp-validation-for="@Model.OldPassword"></span>
            </div> *@

            <div class="form-element col-md-12">
                <input asp-for="@Model.NewPassword" type="password" placeholder="New Password" />
                <span asp-validation-for="@Model.NewPassword"></span>
            </div>

            <div class="form-element col-md-12">
                <input asp-for="@Model.ConfirmPassword" type="password" placeholder="Confirm Password" />
                <span asp-validation-for="@Model.ConfirmPassword"></span>
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>
</div>